<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/mystyle.css">
    <meta charset="UTF-8">
    <title>Web Speech Recorder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <py-config>
        packages = ["matplotlib", "numpy"]
    </py-config>
    <py-script>
        import numpy as np
        import matplotlib.pyplot as plt
            
        x = np.arange(0, 2*np.pi, 0.1)
        y = np.sin(x)
        fig, ax = plt.subplots()
        ax.plot(x, y)
        ax.set_xlabel('x')
        ax.set_ylabel('y')
        ax.set_title('Sinusoid')
    
        display(fig, target="graph-area", append=False)
    </py-script> -->
</head>
<body class = "bg-gray-100 grid grid-cols-12">
    <div id = "main" class = "col-span-12">
    
        <div id = "recordBtn" class = "grid place-items-center md:space-y-10 xl:space-y-[15px]"> 
            <p id = "label" class = "text-3xl">Record Yourself</p>
            <button class="grid place-items-center bg-indigo-100  text-white font-bold py-2 px-4 items-center rounded-full md:w-[150px] xl:h-[200px] xl:w-[200px] drop-shadow-md transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 hover:bg-indigo-200 duration-300 " id = "record">
            <svg class = "h-3/4 w-3/4" id="Layer_1" data-name="Layer 1" viewBox="0 0 82.05 122.88" xmlns="http://www.w3.org/2000/svg">
            <title>mic-microphone</title>
            <path d="M59.89,20.83V52.3c0,27-37.73,27-37.73,0V20.83c0-27.77,37.73-27.77,37.73,0Zm-14.18,76V118.2a4.69,4.69,0,0,1-9.37,0V96.78a40.71,40.71,0,0,1-12.45-3.51A41.63,41.63,0,0,1,12.05,85L12,84.91A41.31,41.31,0,0,1,3.12,71.68,40.73,40.73,0,0,1,0,56a4.67,4.67,0,0,1,8-3.31l.1.1A4.68,4.68,0,0,1,9.37,56a31.27,31.27,0,0,0,2.4,12.06A32,32,0,0,0,29,85.28a31.41,31.41,0,0,0,24.13,0,31.89,31.89,0,0,0,10.29-6.9l.08-.07a32,32,0,0,0,6.82-10.22A31.27,31.27,0,0,0,72.68,56a4.69,4.69,0,0,1,9.37,0,40.65,40.65,0,0,1-3.12,15.65A41.45,41.45,0,0,1,70,85l-.09.08a41.34,41.34,0,0,1-11.75,8.18,40.86,40.86,0,0,1-12.46,3.51Z" style="fill: rgb(110, 133, 254);"/>
            </svg>
            </button><button style="background-color:blue">Submit</button>
             
        </div>
        <div class = "md:py-[50px] xl:py-[75px] space-y-[20px]">
            <p class = " font-semibold text-3xl">Your Skibs</p>

        </div>
        <img src="/static/cosine.png" alt="sine graph">
        <img src="/static/amplitude.png" alt="amplitude">

        
       </html>
    </div>
    

    
</body>
<script>
    navigator
        .mediaDevices
        .getUserMedia({audio: true})
        .then(stream => { handlerFunction(stream) });

    function handlerFunction(stream) {
        rec = new MediaRecorder(stream);
        rec.ondataavailable = e => {
            audioChunks.push(e.data);
            if (rec.state == "inactive") {
                let blob = new Blob(audioChunks, {type: 'audio/mpeg-3'});
                sendData(blob);
            }
        }
    }

    function sendData(data) {
        var form = new FormData();
        form.append('file', data, 'data.mp3');
        form.append('title', 'data.mp3');
        //Chrome inspector shows that the post data includes a file and a title.
        $.ajax({
            type: 'POST',
            url: '/save-record',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function(data) {
            console.log(data);
        });
    }
    let recording = false;
    record.onclick = e => {
        if (!recording) {
            console.log('Recording are started..');
            recording = true;
            audioChunks = [];
            rec.start();
            document.getElementById("record").classList.add("animation-pulse");
            //document.getElementById("label").innerHTML = "Recording..."
        }
        else {
            recording = false;
            console.log("Recording are stopped.");
            document.getElementById("record").classList.remove("animation-pulse");
            //document.getElementById("label").innerHTML = "Record Yourself";
            rec.stop();
        }
        
        
    };
</script>
</html>